@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />

<div class="text-center">
    <h2>WIT College Student Registration System</h2>
    <p>Manage your academic journey easily through our platform.</p>
    <div>
        <a class="btn btn-primary btn-lg" asp-page="/Student">STUDENT</a>
        <a class="btn btn-secondary btn-lg" asp-page="/Register">REGISTER</a>
    </div>
</div>

<hr />

<div class="text-center">
    <p>&copy; 2024 - StudentRegistrationWebsite - <a href="/Privacy">Privacy</a></p>
</div>
